.custom-checkbox {
  accent-color: #052e16; 
  width: .7rem;
  height: .7rem;
  transform: scale(1.5);
}


.custom-checkbox:checked {
  background-color: #02563D;
  border-color: #02563D;
}


.custom-checkbox:checked::after {
  color: white;
}
