/* Responsive code for the Signup page */
@media (max-width:799px){
  .responsive-main_div{
    flex-direction: column;
  }
}
@media (max-width:400px){
  .responsive-signinoption-res{
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}