/* Responsive code for the Signup page */
@media (max-width:850px){
  .responsive-main_div{
    flex-direction: column;
    background-color: rgb(232, 232, 235);
  }
  .responsive-button-col{
    flex-direction: column;
  }
}
@media (max-width:400px){
  .responsive-signinoption-res{
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
 

}

::-webkit-scrollbar-x {
  display: none;
}

select {
  -webkit-padding-end: 20px;
  -moz-padding-end: 20px;
  -webkit-padding-start: 2px;
  -moz-padding-start: 2px;
  background-color: #F07575;
  border: 1px solid #AAA;
  border-radius: 2px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
  color: #555;
  font-size: inherit;
  margin: 0;
  overflow: hidden;
  padding-top: 2px;
  padding-bottom: 2px;
  text-overflow: ellipsis;
  white-space: nowrap;
}


/* styling for the modal in the request page */

.nextui-modal .nextui-modal-content.custom-modal {
  position: absolute !important; /* Use !important to override */
  top: 50% !important;
  right: 0 !important;
  transform: translateY(-50%) !important;
  margin: 0 !important;
}